<%-include('includes/header') %>

<link rel="stylesheet" type="text/css" href="/css/menu.css">

<body>
    <div id="main_container">
    <div class="group_name">
        <ul class="nav">
            <li class="nav-item" style="cursor:pointer">
                <a class="nav-link active"  href="/resto">Home Page</a>
              </li>
            <li class="nav-item" style="cursor:pointer">
              <a class="nav-link"  href="/resto/products/menu">Products Menu</a>
            </li>
             
                <li class="nav-item" style="cursor:pointer">
                    <a class="nav-link"  href="/resto/logout">Logout</a>
                  </li>
                  </ul>
                </div>

                <div class="restaurant_menu_frame">
                    <div class="restaurant_container">
                        <div class="dishs_table">
                            <span class="new_dish_txt">
                                <%=member.mb_nick.toUpperCase() %> Restaurant Menu
                            </span>
                            <table class="table table-bordered table-hover">
                                <thead class="thead-light">
                                    <th scope="col">T/r</th>
                                    <th scope="col">Product name</th>
                                    <th scope="col">Product type</th>
                                    <th scope="col">Product size</th>
                                    <th scope="col">Product price</th>
                                    <th scope="col">Remaining Product</th>
                                    <th scope="col">Product condition</th>
                                </thead>
                                <% restaurant_data.map((value,key) => { %>
                                    
                                <tbody style="background: white;">
                                    <td><%=key+1 %></td>
                                    <td><%=value.product_name %></td>
                                    <td><%=value.product_collection %></td>
                                    <td><%=value.product_collection === 'drink' ? value.product_volume : value.product_size %></td>
                                    <td><%=value.product_price %></td>
                                    <td><%=value.product_left_cnt %></td>
                                    <td><select class="spec_select new_product_status" id="<%=value._id %>">
                                    <option value="PAUSED" <% value.product_status==='PAUSED' ? 'selected' : '' %>>PAUSED</option>
                                    <option value="PROCESS" <% value.product_status==='PROCESS' ? 'selected' : '' %>>PROCESS</option>
                                    <option value="DELETED" <% value.product_status==='DELETED' ? 'selected' : '' %>>DELETED</option>
                                    </select></td>
                                </tbody>
                                <% }); %>

                            </table>
                            <div class="long_input" style="align-items: flex-end; margin-bottom: 25px;">
                            <button class="btn btn-primary hiding_btn">Add Product</button>
                            </div>
                        </div>
                        <form onsubmit="return validateForm()" action="/resto/products/create" method="post" 
                        class="dish_container" enctype="multipart/form-data">
                        <div class="long_input" style="display: flex; align-items: center;">
                        <span class="new_dish_txt">New Product</span>
                        </div>
                        
                        <div>
                            <div class="long_input">
                                <label>Product Name</label>
                                <input type="text" placeholder="Product Name" name="product_name" class="product_name">
                            </div>
                            <input name="product_status" value="PAUSED" class="product_status" hidden>
                        </div>
                           <div class="half_input_frame">
                            <div class="half_input">
                                <label>Product Price</label>
                                <input type="number" placeholder="Product Price" name="product_price" class="product_price">
                            </div>
                            <div class="half_input">
                                <label>Remaining Product</label>
                                <input type="number" placeholder="Remaining Product" name="product_left_cnt" class="product_left_cnt">
                            </div>
                           </div>

                           <div class="half_input_frame">
                            <div class="half_input">
                                <label>Product type</label>
                                <select name="product_collection" class="product_collection">
                                    <option value="dish" selected>Food</option>
                                    <option value="drink">Drink</option>
                                    <option value="salad">Salad</option>
                                    <option value="dessert">Dessert</option>
                                    <option value="etc">Others</option>
                                </select>
                            </div>
                            <div class="half_input" id="product_size">
                                <label>Product size</label>
                                <select name="product_size" class="product_size">
                                    <option value="small">Small</option>
                                    <option value="normal" selected>Normal</option>
                                    <option value="large">Large</option>
                                    <option value="set">Set</option>
                                </select>
                                
                            </div>
                            <div class="half_input" id="product_volume" style="display:none;">
                                <label>Drink size</label>
                                <select name="product_volume" class="product_volume">
                                    <option value="0.5">0.5L</option>
                                    <option value="1" selected>1L</option>
                                    <option value="1.5">1.5L</option>
                                    <option value="2">2L</option>
                                </select>
                                </div>
                            </div>
                         <div class="long_input">
                            <label>About Product</label>
                            <textarea name="product_description" class="product_description" cols="30" rows="10"></textarea>
                         </div>    

                         <div class="img_frame">
                            <label>Product Picture</label>
                            <div class="media_frame">
                                <div class="upload_img_box">
                                    <img src="/images/upload.jpg" class="1" id="image_section_1">
                                    <input type="file" id="file" name="product_images" class="image_one"
                                    onchange="previewImgHandler(this,1)">
                                </div>
                                <div class="upload_img_box">
                                    <img src="/images/upload.jpg" class="2" id="image_section_2">
                                    <input type="file" id="file" name="product_images" class="image_two"
                                    onchange="previewImgHandler(this,2)">
                                </div>
                                <div class="upload_img_box">
                                    <img src="/images/upload.jpg" class="3" id="image_section_3">
                                    <input type="file" id="file" name="product_images" class="image_three"
                                    onchange="previewImgHandler(this,3)">
                                </div>
                                <div class="upload_img_box">
                                    <img src="/images/upload.jpg" class="4" id="image_section_4">
                                    <input type="file" id="file" name="product_images" class="image_four"
                                    onchange="previewImgHandler(this,4)">
                                </div>
                                <div class="upload_img_box">
                                    <img src="/images/upload.jpg" class="5" id="image_section_5">
                                    <input type="file" id="file" name="product_images" class="image_five"
                                    onchange="previewImgHandler(this,5)">
                                </div>
                                <!-- <input value="" name="restaurant_id" class="restaurant_id" hidden> -->
                            </div>
                         </div>

                         <div class="long_input" style="align-items:flex-end; margin-bottom: 25px;">
                          <button type="submit" class="btn btn-primary" id="create_product">Apply New Product</button>
                        </div>
                        
                    </form>
                    </div>
                </div>
  
    </div>
    <script src="/addproduct.js"></script>
  </body>

<%- include('includes/footer')  %>